body {
font-size: 12pt;
font-family: 'latomedium', arial, sans-serif;
display: block;
position: relative;
margin: auto;
}
h1{
font: normal 2.8em 'latomedium', arial, sans-serif;
text-align: center;
}
h2{
font: normal 2em 'latomedium', arial, sans-serif;
text-align: center;
}
h3{
font: normal 1.6em 'latomedium', arial, sans-serif;
text-align: center;
}
h4{
font: normal 1.4em 'latomedium', arial, sans-serif;
text-align: center;
}

div{
	padding: 10px 0;
}
section{
	text-align: center;
	padding-bottom : 20px;
}
.flex-grid {
  display: flex;
}
.col {
  flex: 2;
}
.col_middle{
	flex: 4;
}

@media (max-width: 1024px) {
  body{
  font-size: 24pt;
  }
  button{
  width: 140px;
  height: 50px;
  font-size: 24pt;
  }
  #btnSubmit{
  width: 140px;
  height: 50px;
  font-size: 24pt;
  }
  .col {
    flex:1;
  }
}